
{% load staticfiles %}

    <script src="{% static 'base/lib/ui-bootstrap-tpls-0.10.0.js' %}"></script>
    <script src="{% static 'base/js/app.js' %}"></script>
    <script src="{% static 'base/js/base.controller.js' %}"></script>
    <script src="{% static 'base/js/tree.controller.js' %}"></script>
    <script src="{% static 'base/js/angular-tree-control.js' %}"></script>
    <script src="{% static 'base/js/highcharts.js' %}"></script>
    <script src="{% static 'base/js/highcharts-more.js' %}"></script>
    <script src="{% static 'base/js/highcharts-ng.js' %}"></script>

    <script src="{% static 'upload/js/ng-file-upload.min.js' %}"></script>
    <script src="{% static 'upload/js/upload.controller.js' %}"></script>
